<template>
    <div class="page-container">
        <div class="button-container">
            <button @click="getSubAccounts" class="btn btn-default">
                Get Sub-accounts
            </button>
            <button @click="getSubAccountDomains" v-if="subAccounts.length > 0" class="btn btn-default">
                Get Sub-account Domains
            </button>
            <button @click="getAccountDomains" v-if="subAccounts.length > 0" class="btn btn-default">
                Get Account Domains
            </button>
            <button @click="getAllHosts" v-if="subAccounts.length > 0" class="btn btn-default">
                Get Hosts
            </button>
            <button @click="exportMailHosts" v-if="subAccounts.length > 0" class="btn btn-default">
                Export Domains
            </button>
            <button @click="updateAllHosts" v-if="subAccounts.length > 0" class="btn btn-default">
                Update Hosts
            </button>
        </div>

        <div class="info-container">
            <div class="info">
                <div class="card border-primary">
                    <div class="card-header">
                        Sub Accounts
                    </div>
                    <div class="card-body text-primary">
                        <div>Total Domains for Sub Accounts: {{ totalSubAccountDomainCount }}</div>
                        <div>Total Sub Accounts with No Domain Count {{ subAccountWithZeroDomainCount }}</div>
                    </div>
                </div>
                <div class="info__data column-3" v-if="subAccounts.length > 0">
                    <div class="card" v-for="subAccount in subAccounts">
                        <div class="card-header">
                            {{ subAccount.EmailAddress }}
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <label>{{ subAccount.FName }} {{ subAccount.LName }}</label>
                                <label>Domains: {{ subAccount.DomainCount }}</label>
                            </p>
                            <div class="card-footer">
                                <button type="button" class="btn btn-primary"
                                        @click="getSingleSubAccountDomains(subAccount)">
                                    Get Domains
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="info">
                <div class="card border-primary">
                    <div class="card-header">
                        Domain List
                    </div>
                    <div class="card-body text-primary">
                        <div>Sub Account Domains Read: {{ subAccountDomainCount }}</div>
                        <div>Primary Account Domains Read: {{ primaryAccountDomainCount }}</div>
                        <div>Domains with Hosts Read: {{ domainsWithLoadedHosts }}</div>
                    </div>
                </div>
                <div class="info__data column-1" v-if="allDomains.length > 0">
                    <div class="card" v-for="domain in allDomains">
                        <div class="card-header">
                            {{ domain.account }}
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <label>SLD: {{ domain.sld }}</label>
                                <label>TLD: {{ domain.tld }}</label>
                            </p>
                            <table v-if="domain.hosts.length > 0"
                                   class="table table-striped table-bordered hosts-table">
                                <thead>
                                <tr>
                                    <th>Address</th>
                                    <th>Host Id</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="host in domain.hosts">
                                    <td>{{ host.address }}</td>
                                    <td>{{ host.hostid }}</td>
                                    <td>{{ host.name }}</td>
                                    <td>{{ host.type }}</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <button type="button" class="btn btn-primary" @click="updateHosts(domain)">
                                            Update
                                            Hosts
                                        </button>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="card-footer">
                            <button v-if="domain.hosts.length === 0" type="button" class="btn btn-primary"
                                    @click="getHosts(domain)">Get
                                Hosts
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
		name: "ApiForm",
		data() {
			return {
				subAccounts: [],
				allDomains: [],
				mailHosts: [],
				primaryAccountDomainCount: 0,
				subAccountDomainCount: 0,
				domainsWithLoadedHosts: 0,
			}
		},
		computed: {
			totalSubAccountDomainCount() {
				let totalDomains = 0;
				this.subAccounts
				.filter((account) => {
					const dCount = parseInt(account.DomainCount);
					return !isNaN(dCount) && dCount > 0;
				})
				.forEach((account) => {
					totalDomains += parseInt(account.DomainCount);
				});
				return totalDomains;
			},

			subAccountWithZeroDomainCount() {
				let count = 0;
				this.subAccounts
				.filter((account) => {
					const dCount = parseInt(account.DomainCount);
					return dCount === 0 || isNaN(dCount);
				}).forEach(() => {
					count++;
				})
				return count;
			},

			mailDomainAccounts() {
				return this.allDomains
				.filter((domain) => {
					return domain.hosts.filter((host) => {
						return host.name === 'mail';
					}).length > 0;
				});
			}
		},
		methods: {
			getSubAccounts() {
				console.log('getSubAccounts');

				fetch(`/sub-accounts`)
				.then((response) => {
					return response.json()
				})
				.then((data) => {
					this.subAccounts = data;
				})
			},

			getSingleSubAccountDomains(account) {
				if (parseInt(account.DomainCount) === 0) {
					return;
				}

				fetch(`/sub-account-domains/${account.Account}`)
				.then((response) => {
					return response.json()
				})
				.then((data) => {
					let domains = [];

					data.forEach((record) => {
						domains.push(record);
					});

					domains.forEach((domain) => {
						this.allDomains.push({
							account: account.EmailAddress,
							tld: domain.tld,
							sld: domain.sld,
							hosts: []
						});

						this.subAccountDomainCount++;
					});
				});
			},

			getSubAccountDomains() {
				console.log('getSubAccountDomains');

				this.subAccounts.forEach((account) => {
					this.getSingleSubAccountDomains(account);
				});
			},

			getAccountDomains() {
				console.log('getAccountDomains');

				fetch(`/account-domains`)
				.then((response) => {
					return response.json()
				})
				.then((data) => {
					data.forEach((domain) => {
						this.allDomains.push({
							account: 'Primary Account',
							tld: domain.TLD,
							sld: domain.SLD,
							hosts: []
						});

						this.primaryAccountDomainCount++;
					});
				});
			},

			getAllHosts() {
				console.log('getAllHosts');

				this.allDomains.forEach((domain) => {
					this.getHosts(domain);
				});
			},

			getHosts(domain) {
				console.log(`getHosts: ${domain.account}`);

				fetch(`/hosts/${domain.sld}/${domain.tld}`)
				.then((response) => {
					return response.json();
				})
				.then((data) => {
					if (data.host && Array.isArray(data.host)) {
						domain.hosts = data.host;
					} else if (typeof data.host === 'object') {
						domain.hosts.push(data.host);
					}

					this.domainsWithLoadedHosts++;
				});
			},

			exportMailHosts() {
				console.log('exportMailHosts');

				let csvContent = '';
				// filter the list of all domains to only those with the specific mail record.
				const mailDomains = [];

				mailDomains.push([
					'Account',
					'Domain Name',
					'Host Name',
					'Host Type',
					'Host Address'
				]);

				this.mailDomainAccounts
				.forEach((domain) => {
					domain.hosts
					.filter((host) => {
						return (host.name === 'mail' || (host.type === 'TXT' && host.address.indexOf('162.271.170.90')));
					})
					.forEach((host) => {
						mailDomains.push([domain.account, `${domain.sld}.${domain.tld}`, host.name, host.type, host.address]);
					});
				});

				// convert the array of arrays into csv content.
				mailDomains.forEach((domain) => {
					let row = domain.join(',');
					csvContent += row + '\r\n';
				});

				// Create a link to download the csv.
				let link = document.createElement('a');
				link.id = 'download-csv';
				link.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(csvContent));
				link.setAttribute('download', 'enom-mail-domains.csv');
				document.body.appendChild(link);
				document.querySelector('#download-csv').click();
			},

			updateHosts(domain) {
				console.log(`updateHosts: ${domain.account}`);

				fetch('/hosts', {
					method: "POST",
					headers: {
						"Content-Type": "application/json; charset=utf-8",
						// "Content-Type": "application/x-www-form-urlencoded",
					},
					body: JSON.stringify({data: domain}), // body data type must match "Content-Type" header
				})
				.then((response) => {
					return response.json();
				})
				.then((data) => {
					console.log(`hosts updated for: ${domain.account} | ErrCount: ${data.ErrCount}`);
				})
			},

			updateAllHosts() {
				console.log('updateAllHosts');

				this.mailDomainAccounts.forEach((domain) => {
					this.updateHosts(domain);
				});
			},

			test() {
				console.log('test');

				fetch('/test', {
					method: "POST",
					header: {
						"Content-Type": "application/json; charset=utf-8"
					},
					body: JSON.stringify({
						data: [{
							account: 'test@test.com',
							tld: 'com',
							sld: 'mytestsite',
							hosts: [{
								name: 'mail',
								type: '@',
								address: '1.1.1.1'
							}, {
								name: 'mail',
								type: '@',
								address: '1.1.1.1'
							}]
						}]
					})
				});
			}
		}
	}
</script>

<style scoped>
    .page-container {
        padding-top           : 1em;
        display               : grid;
        grid-template-columns : .25fr 1fr;
        column-gap            : 1rem;
    }

    .button-container {
        display            : grid;
        grid-template-rows : repeat(6, 1fr);
        row-gap            : 1rem;
    }

    .info-container {
        display : grid;
        row-gap : 1rem;
        max-height : 100vh;
    }

    .info {
        display    : grid;
        row-gap    : 1rem;
        max-height : 45vh;
    }

    .info__data {
        display    : grid;
        row-gap    : 1rem;
        column-gap : 1rem;
        overflow-y : scroll;
        max-height : 25vh;
    }

    .column-1 {
        grid-template-columns : repeat(1, 1fr);
        max-width             : 100%;
    }

    .column-3 {
        grid-template-columns : repeat(3, 1fr);
        max-width             : 100%;
    }

    .hosts-table {
        max-width : 100%;
    }
</style>